<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.manager.mapper.AuthEntityMapper">
  <resultMap id="BaseResultMap" type="com.shiro.manager.entity.AuthEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="auth_name" jdbcType="VARCHAR" property="authName" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auth_name, permission
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shiro.manager.entity.AuthEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_auth (auth_name, permission)
    values (#{authName,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiro.manager.entity.AuthEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authName != null">
        auth_name,
      </if>
      <if test="permission != null">
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authName != null">
        #{authName,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiro.manager.entity.AuthEntity">
    update tb_auth
    <set>
      <if test="authName != null">
        auth_name = #{authName,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiro.manager.entity.AuthEntity">
    update tb_auth
    set auth_name = #{authName,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    a.*
    from tb_auth a
    left join tb_role_auth b on a.id = b.auth_id
    where b.role_id = #{roleId,jdbcType=INTEGER}
  </select>
</mapper>